@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   justify-content: center;
   background: linear-gradient(116.82deg, #5BBAFF 0%, rgba(91, 186, 255, 0.28125) 73.28%, rgba(91, 186, 255, 0.00756072) 97.91%, rgba(91, 186, 255, 0.00517539) 97.92%, rgba(91, 186, 255, 0.00265623) 97.93%);
   height: 100vh;
}

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
}

.paint-div-wrapper {
   width: 400px;
   height: 560px;
   margin-top: 15px;
   background: rgba(0, 133, 255, 0.45);
   border-radius: 38px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.paint-div {
   margin-top: 10px
}

.paint-wrapper {
   background: #4F5C4D;
   border: 5px solid #313131;
   border-radius: 20px;
   width: 315px;
   height: 315px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.painter {
   display: grid;
   grid-template-columns: repeat(25, 12px);
   grid-template-rows: repeat(25, 12px);
}

.painter div {
   width: 12px;
   height: 12px;
   border: 1px solid #4F5C4D;
}

.active {
   background-color: white;
}

#clear-button {
   width: 150px;
   height: 40px;
   margin: 0 auto;
   margin-top: 15px;
   font-size: 35px;
   font-weight: 600;
   font-family: Inter;
   color: white;
   background: none;
   border: 5px solid white;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

#clear-button:active {
   opacity: 0.7;
}

.drawn-digit {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#question {
   font-size: 30px;
   font-weight: 600;
   font-family: Inter;
   color: white;
   margin-bottom: 10px;
}

.digits {
   width: 73%;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}

.digit {
   width: 45px;
   height: 45px;
   margin-left: 5px;
   border: 3px solid #FFFFFF;
   border-radius: 10px;
   background: none;
   font-family: Inter;
   font-weight: 600;
   font-size: 35px;
   color: white;
   cursor: pointer;
}

.digit:active {
   opacity: 0.7;
}

.assumptions {
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-family: Inter;
   font-weight: 600;
   font-size: 50px;
}

.place {
   width: 50px;
   border: 5px solid #FFFFFF;
   height: inherit;
   font-weight: 800;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.assumption-1 .place {
   height: 75px;
   background: #366ACF;
}

.assumption-2 .place {
   height: 60px;
   background: #196FF0;
}

.assumption-3 .place {
   height: 45px;
   background: #189BFA;
}